* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-color-primary: #f7dd43;
  --card-title-color-border: #746615;
  --card-bg-color: #1d1c19;
  --body-bg-image: url(./assets/bg.svg);
}

body {
  background-color: #121214;
  background-image: var(--body-bg-image);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

body.blue {
  --card-color-primary: #338AF3;
  --card-title-color-border: #338AF3;
  --card-bg-color: #202024;
  --body-bg-image: url(./assets/bg_blue.svg);
}

body.green {
  --card-color-primary: #3eed3b;
  --card-title-color-border: #3eed3b;
  --card-bg-color: #1a1f1b;
  --body-bg-image: url(./assets/bg_green.svg);
}

body * {
  font-family: "Roboto", sans-serif;
}

#app {
  width: fit-content;
  margin: auto;
  padding-top: 52px;
}

header {
  margin-bottom: 63px;
  text-align: center;
}

ul {
  list-style: none;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  padding: 32px 23px;
  text-align: center;
  background: var(--card-bg-color);
  border-bottom: 2px solid var(--card-color-primary);
  border-radius: 6px;
  text-transform: uppercase;
  animation: appear 1.6s forwards;
  opacity: 0;
}

.card:nth-child(1){
  animation-delay: 0.5s;
}

.card h2 {
  margin-inline: auto;
  width: fit-content;
  justify-content: center;
  gap: 16px;
  display: flex;
  border: 1px solid var(--card-title-color-border);
  border-radius: 6px;
  padding: 8px 16px;
  margin-bottom: 53px;
  color: #f7dd43;
  align-items: center;
}

.card h2 span {
  color: #e1e1e6;
  font-size: 14px;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 270px;
}

.card ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card h2:hover,
.card ul li img:hover{
  transform: scale(1.2);
}

.card h2,
.card ul li img {
  transition: transform 0.4s;
}

.card ul li strong {
  font-weight: 900;
  line-height: 125%;
  font-size: 36px;
  color: #E1E1E6;
}

.card ul li + li {
border-top: 1px solid #323238;
padding-top: 24px;
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@media (min-width: 700px){
  #cards{
    max-width: 670px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}